*{
    margin: 0;
    padding: 0%;
    box-sizing: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav h1{
    text-align: center;
    color: white;
}

nav{
    background-color: #333333;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

nav ul li{   
    display: inline;  
    margin-right: 2px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
    font-weight: 700;
}

main{
    margin: 20px;
    padding: 20px;
    background-color: #DAE2DF;
}

main section ul {
    text-align: center;
}

main section ul li {
    list-style-type: none;
    display: inline;
}

section ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

section{
    background-color: #A2A7A5;
    padding: 15px;
    border-radius: 05px;
    margin-bottom: 15px;
}

section img {
    width: 40%;
    height: auto; /* Para manter a proporção da imagem */
    border-radius: 5px;
    margin: 15px auto; /* Centraliza a imagem horizontalmente */
    display: block; /* Faz com que a margem automática funcione */
}


img{
    width: 40%;
    height: auto; /* Para manter a proporção da imagem */
    border-radius: 5px;
    margin: 15px auto; /* Centraliza a imagem horizontalmente */
    display: block; /* Faz com que a margem automática funcione */ 
}

p{
    margin-bottom: 15px;
    
}

li{
    margin: 20px;
}

footer {
    background-color: #333333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    margin-bottom: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    margin-bottom: 20px;
}
table tr th {
    border: 1px solid black;
    background-color: #A2A7A5;
    color: #FFFFFF;
    padding: 4px;
}

table tr td {
    border: 1px solid black;
    padding: 4px;
}
